/*main_contact*/
html{ SCROLLBAR-FACE-COLOR: #538ec6; SCROLLBAR-HIGHLIGHT-COLOR: #dce5f0; SCROLLBAR-SHADOW-COLOR: #2c6daa; SCROLLBAR-3DLIGHT-COLOR: #dce5f0; SCROLLBAR-ARROW-COLOR: #2c6daa;  SCROLLBAR-TRACK-COLOR: #dce5f0;  SCROLLBAR-DARKSHADOW-COLOR: #dce5f0; overflow-x:hidden;}
.main_contact1{ float:left;}
.main_images{ border:1px #cccccc solid; padding:2px;}
.main_changes{ background:#ededb2; padding:4px 0;}
.main_about{ padding:0 10px; float:left;}
.main_kuang{background:url(../images/bg1.jpg) repeat-x top left; font-weight:bold;}
.main_nav_bg{ background:url(../images/contact_bg.jpg) repeat-x; height:25px; padding-top:2px; float:left;}
.main_td1{background:url(../images/copybg.jpg) no-repeat left; height:44px; color:#bb1414; text-align:left; padding:17px 0 0 22px;}
a.main_td2:link,a.main_td2:visited{ color:#666666}
a.main_td2:hover,a.main_td2:active{color:#bb1414}

body{overflow-x:hidden; /*background:#f2f0f5;*/ padding:15px 0px 10px 5px;}
#main{ font-size:12px;}
#main span.time{ font-size:14px; color:#656565; width:100%; padding-bottom:10px; float:left}
#main div.top{ width:100%; background:url(images/main/main_r2_c2.jpg) no-repeat 0 10px; padding:0 0 0 15px; line-height:35px; float:left}
#main div.sec{ width:100%; background:url(images/main/main_r2_c2.jpg) no-repeat 0 15px; padding:0 0 0 15px; line-height:35px; float:left}
.left{ float:left}
#main div a{ float:left;color:black;}
#main span.num{  font-size:30px; color:#656565; font-family:"Georgia","Tahoma","Arial";}
.left{ float:left}
div.main-tit{ font-size:14px; font-weight:bold; color:#4e4e4e; background:url(images/main/main_r4_c2.jpg) no-repeat 0 33px; width:100%; padding:30px 0 0 20px; float:left;}
div.main-con{ width:70%; float:left; padding:10px 0 0 20px; line-height:36px;}
div.main-corpy{ font-size:14px; font-weight:bold; color:#4e4e4e; background:url(images/main/main_r6_c2.jpg) no-repeat 0 33px; width:100%; padding:30px 0 0 20px; float:left}
div.main-order{ line-height:30px; padding:10px 0 0 0;}

*{margin: 0px;padding: 0px;}
 .news{float: left;width:650px;border:#ccc 1px solid;margin-top: 25px;font-size: 15px;}
 .title{float: left;width: 650px;border-bottom: #ccc 1px dotted;background:url(images/main/main_r4_c2.jpg) no-repeat 0 0px;}
 a{text-decoration: none;}
.news ul {list-style: none;width: 650px;}
.news ul li{float: left;width: 650px;line-height: 30px;border-bottom: #ccc 1px dotted}

.text{float: right;width:330px;border:#ccc 1px solid; margin-top: 25px;font-size: 15px;margin-right: 80px;}
 .header{float: left;width: 330px;border-bottom: #ccc 1px dotted;background:url(images/main/main_r4_c2.jpg) no-repeat 0 0px;}
.text ul {list-style: none;}
.text ul li{float: left;width: 325px;line-height: 30px;border-bottom: #ccc 1px dotted}

.position{float: left;width:100%;border-bottom: #ccc 2px solid;}

/*body{
	background: #E8E8E8;
}*/

.div1{
	border: 1px solid white;
	padding-bottom: 50px;
	background: white;
	border-radius: 5px;
	padding-left: 15px;
	padding-top: 10px;	
}
.left1,.right1{
	border: 1px solid black;
	
}
